    * {
        padding: 0;
        margin: 0;
    }
    
    .frist {
        background-image: url(Images/cover.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    div.navbar {
        background-color: #360836;
        height: 50px;
    }
    
    a {
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
        padding-left: 50px;
    }
    
    .home {
        color: white;
    }
    
    .selected {
        color: deeppink;
    }
    
    .color:hover {
        color: white;
    }
    
    .unorderlist {
        list-style-type: none;
        padding-left: 37%;
    }
    
    .webfolk {
        text-align: center;
        color: white;
        font-size: 30px;
    }
    
    .dots {
        padding-left: 51%;
        color: white;
    }
    
    .work {
        text-align: center;
        color: white;
        background-color: rgb(255, 0, 106);
        width: 300px;
        height: 80px;
        margin-left: 40%;
        font-size: 20px;
        font-family: 'Tajawal', sans-serif;
    }
    
    div.images {
        float: left;
        width: 25%;
        height: 100px;
        display: table;
    }
    
    .smalltriangle {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 40px solid rgb(255, 0, 106);
        margin-left: 48%;
        position: absolute;
        margin-top: -20px;
    }
    
    .website {
        text-align: center;
        background-color: rgb(255, 0, 106);
        color: white;
        font-family: 'Tajawal', sans-serif;
        font-size: 20px;
    }
    
    .Meet {
        color: deeppink;
        text-align: center;
        font-family: 'Yeon Sung', cursive;
    }
    
    .div1 {
        text-align: center;
    }
    
    .Matt {
        font-size: 50px;
        margin-left: 950px;
        color: deeppink;
    }
    
    .Andres {
        font-size: 50px;
        color: deeppink;
        margin-left: 450px;
        margin-block: -95px;
    }
    
    .Creative-Director {
        font-size: 30px;
        margin-left: 850px;
        margin-top: 100px;
    }
    
    .Developer {
        font-size: 30px;
        margin-left: 380px;
        margin-block: -60px;
    }
    
    .div2 {
        margin-top: 70px;
        text-align: center;
    }
    
    .Designer {
        font-size: 30px;
        margin-left: 950px;
        margin-top: 100px;
    }
    
    .Front-End-Developer {
        font-size: 30px;
        margin-left: 300px;
        margin-block: -60px;
    }
    
    .button1 {
        background-color: black;
        color: white;
        width: 250px;
        height: 50px;
        margin-top: 100px;
        margin-left: 45%;
    }
    
    .contact:hover {
        background-color: rgb(255, 0, 106);
    }
    
    .third {
        background-image: url(Images/Cover_2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .container5 {
        display: flex;
        text-align: center;
        padding-right: 200px;
        margin-top: 100px;
    }
    
    .margin-top {
        margin-top: 100px;
    }
    
    .head {
        color: white;
        padding-left: 200px;
        text-align: left;
    }
    
    .paragraph {
        color: white;
        text-align: left;
        padding-left: 200px;
    }
    
    .container6 {
        display: flex;
        padding-left: 350px;
    }
    
    .list1 {
        flex: 1;
        color: white;
        font-size: 30px;
        display: block;
    }
    
    .list3 {
        color: white;
        font-size: 30px;
        display: block;
        padding-left: 600px;
    }
    
    li.list-item {
        float: left;
        padding-left: 40px;
    }
    
    button {
        background-color: white;
        color: black;
        width: 200px;
        height: 50px;
    }
    
    .button1:hover {
        background-color: rgb(255, 0, 106);
        color: white;
    }
    
    .back-to-top {
        margin-top: 50px;
        margin-left: -100px;
    }